* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat" sans-serif;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .wrapper {
    display: block;
    height: auto;
  }
}

.head {
  height: 100vh;
  width: 45%;
  padding: 116px 0 0 0;
  background: -webkit-linear-gradient(289.07deg, #860162 -0.53%, #190051 102.7%);
  background: -o-linear-gradient(289.07deg, #860162 -0.53%, #190051 102.7%);
  background: linear-gradient(160.93deg, #860162 -0.53%, #190051 102.7%);
  -webkit-box-shadow: 2px 0px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 0px 60px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .head {
    height: auto;
    width: 100%;
    padding: 50px 0 70px 0;
  }
}

.head__logo {
  position: relative;
  z-index: 5;
}

.head__body {
  margin: -65px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  .head__body {
    margin: 30px 0 0 0;
  }
}

.title {
  font-weight: bold;
  font-size: calc(55px + 13 * ((100vw - 320px) / 960));
  line-height: 122%;
  color: #fff;
}

.subtitle {
  font-weight: 300;
  font-size: calc(32px + 2 * ((100vw - 320px) / 960));
  line-height: 122%;
  color: #ffffff;
}

.main {
  width: 55%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 0;
  overflow-y: auto;
}

@media (max-width: 1199px) {
  .main {
    height: auto;
    width: 100%;
    padding: 50px 0 70px 0;
  }
}

.main__buttons {
  width: 100%;
  text-align: center;
}

.main__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 142px;
  height: 42px;
  -webkit-box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  color: #3f0057;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: 2px solid #3f0057;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main__btn:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.main__btn:first-child {
  margin: 0 30px 0 0;
}

@media (max-width: 580px) {
  .main__btn:first-child {
    margin: 0 15px 0 0;
  }
}

.main__btn--active {
  color: #ffffff;
  background: -webkit-linear-gradient(350.95deg, #840062 8.04%, #1d0051 94.63%);
  background: -o-linear-gradient(350.95deg, #840062 8.04%, #1d0051 94.63%);
  background: linear-gradient(99.05deg, #840062 8.04%, #1d0051 94.63%);
}

.body-main {
  padding: 20px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 540px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  .body-main {
    margin: 35px 0 0 0;
  }
}

@media (max-width: 580px) {
  .body-main {
    width: 420px;
  }
}

@media (max-width: 580px) {
  .body-main {
    width: 290px;
  }
}

.body-main__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  color: #3f0057;
  margin: 0 0 18px 0;
}

.body-main__input {
  margin: 0 0 19px 0;
  padding: 0 0 0 84px;
  background: #f2f2f2;
  -webkit-box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 54px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #45074f;
}

.body-main__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #45074f;
  opacity: 0.7;
}

.body-main__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #45074f;
  opacity: 0.7;
}

.body-main__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #45074f;
  opacity: 0.7;
}

.body-main__input::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #45074f;
  opacity: 0.7;
}

.body-main__btn {
  display: block;
  margin: 0 0 30px 0;
  padding: 15px 0 15px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  background: -webkit-linear-gradient(357.84deg, #860162 -11.61%, #190051 128.16%);
  background: -o-linear-gradient(357.84deg, #860162 -11.61%, #190051 128.16%);
  background: linear-gradient(92.16deg, #860162 -11.61%, #190051 128.16%);
  -webkit-box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.body-main__btn:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.body-main__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-main__label {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 0 5px;
  color: #1d0051;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.body-main__forget {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #1d0051;
}

.body-main__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #1d0051;
  margin: 0 0 20px 0;
}

.input-login {
  background: url("../images/system_img/login-icon.svg") 15px 0px no-repeat;
}

.input-phone {
  background: url("../images/system_img/phone-icon.svg") 20px 0px no-repeat;
}

.input-email {
  background: url("../images/system_img/email-icon.svg") 20px 0px no-repeat;
}

.input-company {
  background: url("../images/system_img/company-icon.svg") 20px 0px no-repeat;
}

.password-field {
  position: relative;
}

.password-field__link {
  position: absolute;
  top: 11px;
  right: 28px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/system_img/password-hide.svg") 0 0 no-repeat;
}

@media (max-width: 580px) {
  .password-field__link {
    right: 10px;
  }
}

.input-password {
  background: url("../images/system_img/password-icon.svg") 17px 0px no-repeat;
}
