@import "reset";
$lg: 1336px;
$md: 1199px;
$sm: 991px;
$xs: 768px;
// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере
$maxWidth: 1900;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
body {
	font-family: "Montserrat" sans-serif;
}

input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
}
input:-moz-placeholder {
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}

svg {
	path {
		fill: inherit;
		stroke: inherit;
	}
	rect {
		fill: inherit;
		stroke: inherit;
	}
}

.wrapper {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(160.93deg, #860162 -0.53%, #190051 102.7%);

	display: flex;
	overflow: hidden;

	@media (max-width: 600px) {
		flex-direction: column;
		height: auto;
	}
}
.left {
	flex: 0 0 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5vh 0px;

	@media (max-width: $xs) {
		flex: 0 0 150px;
	}
	&__person {
	}

	&__menu {
	}

	&__exit {
	}
}
.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__photo {
		width: 93px;
		height: 93px;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.4);

		margin: 0 0 13px 0;
	}

	&__name {
		font-size: 18px;
		line-height: 22px;
		color: #fff;
	}
}
.menu {
	width: 100%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	@media (max-width: 600px) {
		display: inline-flex;
		width: auto;
		margin: 30px 0;
		padding: 0 10px;
		align-items: flex-start;
	}
	&__item {
	}
}
.item-menu {
	display: flex;
	align-items: center;
	margin: 0 0 0 0;
	padding: 25px 0 20px 20px;

	&:last-child {
		margin: 0 0 0 0;
	}
	&__icon {
		margin: 0 20px 0 0;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: 0.3s;

		svg {
			stroke: #fff;
		}
	}

	&__icon--dashboard {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__name {
		width: 135px;
		font-size: 22px;
		line-height: 27px;

		color: #ffffff;
	}

	&__icon--advertising {
		border-radius: 50%;
		border: 1px solid #fff;
		svg {
			stroke: none;
			fill: #fff;
		}
	}

	&__icon--settings {
		svg {
			width: 100%;
			height: 100%;
		}
	}
	@media (min-width: 991px) {
		&:hover {
			& .item-menu__icon--advertising svg {
				animation-name: advert-appear;
				animation-duration: 1.2s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			& .item-menu__icon--settings {
				animation-name: rotation;
				animation-duration: 15s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			& .dash-icon__first {
				transform: rotate(180deg);
				rect {
					animation-name: vertical-appear-first;
					animation-duration: 0.8s;
					animation-iteration-count: infinite;
					animation-timing-function: linear;
				}
			}

			& .dash-icon__second {
				transform: rotate(180deg);
				rect {
					animation-name: vertical-appear-second;
					animation-duration: 0.8s;
					animation-iteration-count: infinite;
					animation-timing-function: linear;
				}
			}

			& .dash-icon__third {
				transform: rotate(180deg);
				rect {
					animation-name: vertical-appear-third;
					animation-duration: 0.8s;
					animation-iteration-count: infinite;
					animation-timing-function: linear;
				}
			}
		}
	}
}

@keyframes advert-appear {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		transform: rotate(30deg);
	}
	80% {
		transform: rotate(0deg);
	}
	100% {
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes vertical-appear-first {
	0% {
		height: 0;
	}
	25% {
		height: 18px;
	}
	100% {
		height: 18px;
	}
}
@keyframes vertical-appear-second {
	0% {
		height: 0;
	}
	45% {
		height: 12px;
	}
	100% {
		height: 12px;
	}
}
@keyframes vertical-appear-third {
	0% {
		height: 0;
	}
	65% {
		height: 26px;
	}
	100% {
		height: 26px;
	}
}
.item-menu--active {
	background: #f0f0f0;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	position: relative;
	@media (min-width: 600px) {
		&:before {
			content: "";
			position: absolute;
			top: -38px;
			right: 0;
			background: radial-gradient(circle at 0 0, rgba(240, 240, 240, 0) 38px, rgba(240, 240, 240, 255) 40px);
			background-position: top left;
			background-repeat: no-repeat;

			width: 39px;
			height: 39px;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -38px;
			right: 0;
			background: radial-gradient(circle at 0 100%, rgba(240, 240, 240, 0) 38px, rgba(240, 240, 240, 255) 40px);
			background-position: bottom left;
			background-repeat: no-repeat;

			width: 39px;
			height: 39px;
		}
	}

	@media (max-width: 600px) {
		border-radius: 15px;
	}

	& .item-menu__icon {
		svg {
			stroke: #3b0051;
		}
	}

	& .item-menu__icon--advertising {
		border: 1px solid #3b0051;
		svg {
			stroke: none;
			fill: #3b0051;
		}
	}

	& .item-menu__name {
		color: #370051;
	}
}
.exit {
	display: flex;
	align-items: center;

	@media (max-width: 600px) {
		display: inline-flex;
	}
	&__icon {
		margin: 0 14px 0 0;
	}

	&__text {
		font-size: 18px;
		line-height: 22px;
		color: #fff;
	}
	transition: 0.3s;

	&:hover {
		transform: translate(0, -5px) scale(1.05);
	}
}

.content {
	flex: 1 1 auto;
	background: linear-gradient(115.82deg, #f0f0f0 6.46%, #e9e9e9 93.68%);

	padding: 5vh 35px;

	overflow-y: auto;

	@media (min-width: 600px) {
		border-top-left-radius: 56px;
		border-bottom-left-radius: 56px;
	}
	&__row {
		display: flex;

		@media (max-width: $md) {
			flex-direction: column;
		}
	}

	&__column {
		background: #ffffff;
		box-shadow: -2px 6px 15px rgba(0, 0, 0, 0.15);
		border-radius: 30px;
		padding: 30px 50px 70px 30px;

		@media (max-width: $md) {
			margin: 0 0 35px 0;
		}
	}

	&__column--small {
		margin: 0 2vw 0 0;
		flex: 0 1 33.333%;

		@media (max-width: $md) {
			margin: 0 0 35px 0;
		}
	}

	&__column--big {
		flex: 0 1 66.667%;
		position: relative;
	}

	&__column--full {
		margin: 40px 0 0 0;
		position: relative;

		@media (max-width: $md) {
			margin: 0 0 0 0;
		}
	}
}
.item-content {
	display: flex;
	flex-direction: column;
	&__title {
		margin: 0 0 35px 0;
		font-weight: bold;
		@include adaptive-font(30, 26);
		line-height: 121%;

		color: #1d0051;
	}

	&__label {
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;

		color: #1d0051;

		margin: 0 0 25px 0;
	}

	&__value {
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;

		color: #1d0051;
		margin: 0 0 65px 0;

		overflow-x: auto;
		display: inline-block;
		max-width: 100%;
	}

	&__password {
		position: relative;
	}

	&__password-activator {
		position: absolute;
		top: -7px;
		right: 0;
		display: inline-block;
		width: 32px;
		height: 32px;
		background: url("../images/system_img/password-hide.svg") 0 0 no-repeat;
	}

	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		width: 142px;
		height: 42px;
		border: 3px solid #310054;
		filter: drop-shadow(-2px 4px 8px rgba(0, 0, 0, 0.25));
		border-radius: 8px;
		color: #3f0057;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		background: #ffffff;
		transition: 0.3s;

		&:hover {
			transform: translate(0, -5px) scale(1.05);
		}
	}

	&__avatar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (min-width: 800px) {
			position: absolute;
			top: 30px;
			right: 50px;
		}
	}

	&__photo {
		width: 93px;
		height: 93px;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);

		margin: 0 0 13px 0;
	}

	&__wrapper {
		flex: 1 1 auto;

		&--flex {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 50%;

		padding: 0 20px 0 0;

		@media (min-width: 600px) {
			min-width: 280px;
		}
	}

	&__head {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		z-index: 1;

		& .item-content__title {
			margin: 0 0 0 0;

			@media (max-width: $xs) {
				margin: 0 0 15px 0;
			}
		}

		@media (max-width: $xs) {
			flex-direction: column;
		}
	}

	&__bg {
		position: absolute;
		left: -40px;
		bottom: -80px;
		z-index: 0;

		@media (max-width: $md) {
			display: none;
		}
	}

	&__accounts {
		z-index: 1;
		padding: 63px 0 0 30%;

		@media (min-width: 1400px) {
			padding: 63px 150px 0 30%;
		}

		@media (max-width: $md) {
			padding: 40px 0 0 0;
		}
	}
}
.accounts {
	&__item {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 0 30px 0;
		overflow: auto;

		&:last-child {
			margin: 0 0 0 0;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;

		color: #212121;

		display: inline-block;
		padding: 0 15px;
		white-space: nowrap;
	}

	&__link {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;

		color: #d11f1f;
		display: inline-block;
		padding: 0 15px;
		white-space: nowrap;
	}
}
