// Обнуление
@import "reset";

// Подключение шрифтов
@import "fonts";

$lg: 1336px;
$md: 1199px;
$sm: 991px;
$xs: 768px;
// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере
$maxWidth: 1280;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// Общие стили
html {
}

body {
	font-family: "Montserrat" sans-serif;
}

input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
}
input:-moz-placeholder {
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}

// Подключение общих блоков
@import "blocks";

// Header
@import "header";

@import "login";

// Footer
@import "footer";
